html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}




/* ----------body---------- */
body {
    max-width: 120rem;
    min-width: 20rem;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;

}

h2,
h3,
h4 {
    color: #000000;
}

a,
a:focus,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #000000;
}

/* --------header-------- */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
}

.navbar-logo,
.navbar-btn {
    width: 3rem;
    height: 3rem;
}

.navbar-flag {
    width: 6rem;
    height: 4.125rem;
    border: solid 1px;

}

.navbar-menu {
    display: none;
    list-style: none;
}

@media (min-width: 60em) {

    .navbar {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        max-width: 80rem;
        margin: 0 auto;
    }

    .navbar-logo {
        grid-column: 1/2;
    }

    .navbar-flag {
        grid-column: 5/6;
    }

    .navbar-btn {
        display: none;
    }

    .navbar-menu {
        grid-column: 6/10;
        justify-self: right;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .navbar ul li {
        padding: 0 0.5rem;
    }

}

/* -------main-------- */

.header {
    display: flex;
    justify-content: center;
}

.header img {
    max-width: 100rem;
}


/* ------back to top button------ */
.back-to-top {
    background-color: #000000;
    border-radius: 50%;
    width: 5rem;
    height: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.back-to-top a {
    color: #ffffff;
}

/* ------footer------ */

.icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 2rem 0;
}

.contact img {
    width: 60px;
}

footer p {
    text-align: center;
}

@media (min-width: 50em) {


    .icon-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 2rem 0;
    }
}