html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}




/* ----------body---------- */
body {
    max-width: 120rem;
    min-width: 20rem;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;

}

h2,
h3,
h4 {
    color: #000000;
}

a,
a:focus,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #000000;
}

/* --------header-------- */

.navbar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.divide-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.navbar-logo,
.navbar-btn {
    width: 3rem;
    height: 3rem;
}

.navbar-flag {
    width: 6rem;
    height: 4.125rem;
    border: solid 1px;

}

.navbar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
}

#navbar-menu {
    display: none;
}

#navbar-menu.active {
    display: flex;
}

.navbar-menu li {
    width: 100%;
    text-align: center;
    padding: 0.25rem;
}

.navbar-menu li:hover {
    background-color: #ffe4c4;
}


@media (min-width: 60em) {

    .navbar {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        max-width: 80rem;
        margin: 0 auto;
    }


    .divide-nav {
        grid-column: 1/6;
    }

    .navbar-btn {
        display: none;
    }

    #navbar-menu {
        display: flex;
    }

    .list-wrapper {
        grid-column: 6/10;
        display: flex;
        align-items: center;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        font-size: 1.25rem;
        font-weight: 500;
    }


}

/* -------main-------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classic,
.bukchon {
    max-width: 70rem;
    padding: 1rem;
}

.hover-wrapper img {
    border-style: outset;
    box-shadow: 10px 5px 5px #808080;
}

@media (min-width: 60em) {
    .header img {
        max-width: 80rem;
    }

    .hover-wrapper {
        position: relative;
    }

    .hover-wrapper img {
        width: 30%;
        border-style: outset;
        box-shadow: 10px 5px 5px #808080;
    }

    .hover-wrapper img:hover {
        width: 35%;
        z-index: 3;
    }

    .hover1 {
        position: absolute;
        top: 1rem;
        left: 6rem;
    }

    .hover2 {
        position: absolute;
        top: 8rem;
        left: 13rem;
    }

    .hover3 {
        position: absolute;
        top: 4rem;
        left: 21rem;
    }

    .hover4 {
        position: absolute;
        top: 1rem;
        left: 35rem;
    }

    .hover5 {
        position: absolute;
        top: 21rem;
        left: 30rem;
    }

    .bukchon {
        margin-bottom: 40rem;
    }
}

/* ------back to top button------ */
.back-to-top {
    background-color: #000000;
    border-radius: 50%;
    width: 5rem;
    height: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.back-to-top a {
    color: #ffffff;
}

/* ------footer------ */

.icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 2rem 0;
}

.contact img {
    width: 60px;
}

footer p {
    text-align: center;
}

@media (min-width: 50em) {


    .icon-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 2rem 0;
    }
}